.contact-form {
  min-height: 620px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.contact-form-container {
  background: #F8F9FA;
}

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: none;
  border-radius: 1px;
  font-size: 1em;
  line-height: 1.2;
  cursor: text;
  height: 250px;
  overflow: auto;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: none;
  border-radius: 40%;
  background: lightskyblue;
  color: blue;
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search {
  display: inline-block;
  padding: 7px 2px;
  margin-bottom: 6px;
  width: 300px;
}

.react-tags__search input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  height: 40px;
  min-width: 200px;
  font-size: inherit;
  line-height: inherit;
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style-type: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid black;
  padding: 6px 8px;
}

.suggestion-box {
  max-height:100px;
  overflow: auto;
}

.suggestion-tag-click {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.alert {
  padding: 5px;
  margin-top: 0px;
}

.alert-warning {
  font-size:12px;
}