.subscribe-container {
  height: 300px;
}

.subscribe-title {
  font-weight: bold;
}

.subscribe-text {
  font-size: 18px;
}

.subscribe-form input[type="submit"] {
  display: none;
}

.form-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border-color: lightgray;
  height: 50px;
  font-size: 15px;
  padding: 10px;
  font-weight: lighter;

  &:hover {
    border-color: grey;
  }
  &:active,
  &:focus {
    outline: none;
    border-color: grey;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}

.input-button {
  position: relative;
  height: 50px;
  width: 100px;
  margin-left: -100px;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;

  &:focus {
    outline: none !important;
    border: none !important;
  }
}

.form-group {
  display:flex;

  .form-input {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 2;
  }

  .input-button {
    padding-left: 1;
    padding-right: 1;
    flex-shrink: 0;
  }
}