.team-container {
  background-color: #218A95;
}

.team-container div {
  color: white;
}

.team-container p {
  color: rgba(255,255,255,0.6);
}

.team-container table {
  margin-top: 40px;
}

.member-image {
  float: left;
  padding: 10px;
}

.member-image img {
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.member-details {
  float: right;
  padding:10px;
  width:500px;
}

@media screen and (max-width: 500px){
  .member-details {
    float: right;
    padding:10px;
    width:100%;
  }
}